# PSPad backups
**/PsPadBK/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# FVM related
.fvm/

# VS Code related
.vscode/

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Google services
google-services.json
services.tar
anotacoes.txt

# FVM Version Cache
.fvm/

# Ignorar arquivos gerados para Linux, Windows e iOS
**/linux/
**/windows/
**/ios/

# Plataforma
/windows/
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugin_registrant.h
/windows/flutter/generated_plugins.cmake
/linux/

# Web related
lib/generated_plugin_registrant.dart

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/flutter_export_environment.sh

# Ignorar arquivos temporários criados pelo CMake e build nativo no app
android/app/.cxx/
android/app/build/
android/app/CMakeFiles/
android/app/cmake-build-debug/
android/app/cmake-build-release/
android/app/CMakeCache.txt
android/app/cmake_install.cmake
android/app/build.ninja
android/app/rules.ninja
android/app/gradle.properties~
android/app/gradlew*
android/app/local.properties
android/app/externalNativeBuild/
android/app/*.json
android/app/*.txt

ios/Flutter/ephemeral