<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95831549681-1bk34ccqceqk1kr8crv165l4k1tgjoao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95831549681-1bk34ccqceqk1kr8crv165l4k1tgjoao</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>95831549681-001jiqjaos3pfetggqqj9obhhnj7umji.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5CEwQH22SqBn1C2mmSy8Ftlj6NFMP3VM</string>
	<key>GCM_SENDER_ID</key>
	<string>95831549681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.cristiandemellos.scrumpoker</string>
	<key>PROJECT_ID</key>
	<string>scrumpoker-1fa35</string>
	<key>STORAGE_BUCKET</key>
	<string>scrumpoker-1fa35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95831549681:ios:6c8af4b8e68b7ee98c6b50</string>
	<key>DATABASE_URL</key>
	<string>https://scrumpoker-1fa35.firebaseio.com</string>
</dict>
</plist>